$back_color: #303247;
$card_color: #27293E;
$sidebar_color: #181E36;
$light_color1: #29BCC9;
$light_color2: #0486FE;
$backlight_color: #75798a;

:export {
    backColor: $back_color;
    cardColor: $card_color;
    sidebarColor: $sidebar_color;
    lightColor1: $light_color1;
    lightColor2: $light_color2;
    backlightColor: $backlight_color;
}

