@import '../_base/variables';

.dashboard{
    display: flex;
    height: 100%;
    &__menuicon{
      position: relative;
      display: flex;
      justify-content: right;
      transition: 0.5s;
    }
    &__sidebar{
      background-color: $sidebar_color;
      width: 200px;
      display: flex;
      flex-direction: column;
      transition: 0.5s;
      overflow: hidden;
    }
    &__view{
      background-color: $back_color;
      width: 100%;
      transition: 0.5s;
      z-index: 2;
    }
}

.sidebar{
  &__profile{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    img {
      width: 30px;
      height: 30px;
      border-radius: 30px;
      background: $backlight_color;
      box-shadow: 0px 5px 5px black;
    }
    p {
      color: white;
      font-weight: bold;
      white-space: nowrap;
    }
  }
  &__item{
    margin: 10px 5px;
  }
  &__optionitem{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    p{
      color: white;
    }
  }
  &__itemshide{
    transform: translateX(100px);
  }
  &__reducebasis{
    width: 50px;
  }
}

.option{
  margin: 8px;
}